.Button {
  font-size: 0.7rem;
  display: inline-block;
  outline: 0;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  will-change: box-shadow, transform;
  padding: 0 2em;
  border-radius: 1rem;
  color: #fff;
  height: 2.6em;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  background: linear-gradient(to right, #ebdb05, #ff2020);
  transition: 0.2s ease;
}

.Button:hover {
  transform: translateY(-0.2em);
}

.Button:active {
  transform: translateY(0em);
}
