.About {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 5rem;
  padding: 2rem 0;
}

.aboutTitle {
  display: flex;
  justify-content: center;
  width: 100%;
}

.aboutTitle h1 {
  margin-left: 12px;
  font-size: 3rem;
}

.h1Gradient {
  background: linear-gradient(to right, #ebdb05, #ff2020);
  background-clip: text;
  color: transparent;
}

.aboutText {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.aboutText::before {
  content: "";
  width: 130px;
  height: 5px;
  border-radius: 4px;
  top: 125%;
  left: 50%;
  transform: translate(-50%, -50%); /* centraliza o pseudo-elemento */
  position: absolute;
  background: linear-gradient(to right, #ebdb05, #ff2020);
}

.About p {
  font-family: var(--font-secondary);
  width: 80%;
  text-align: center;
  font-size: 1.3rem;
  color: var(--color-secondary);
}

@media (max-width: 600px) {
  .aboutTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0rem;
  }
  .aboutTitle h1 {
    font-size: 2.7rem;
  }
}

@media (max-width: 650px) {
  .aboutText::before {
    width: 120px;
    top: 113%;
    transform: translate(-50%, -40%); /* centraliza o pseudo-elemento */
  }
}

@media (max-width: 400px) {
  .aboutTitle h1 {
    font-size: 2.3rem;
  }
  .About p {
    font-size: 1rem;
  }
}
