.main {
  display: flex;
  color: var(--color-primary);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  gap: 3rem;
}

.mainMe {
  text-align: center;
}

.mainMe h1 {
  font-size: 3.8rem;
  background: linear-gradient(to right, #ebdb05, #ff2020);
  background-clip: text;
  color: transparent;
}

.mainMe h2 {
  font-size: 2rem;
}

.Cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
