@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  user-select: none;
}

body {
  padding-top: 5rem;
  --color-primary: #ffffff;
  --color-secondary: #c7c7c7;
  --color-third: #00000018;
  --font-secondary: "Poppins", sans-serif;
  background: rgb(0, 0, 0);
  font-family: "Clash Grotesk", sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 80rem;
  padding: 0 1rem;
  margin: 0 auto;
}

/* ===== */

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

a {
  text-decoration: none;
  color: #000000;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  transition: 0.5s ease-in-out;
  border-radius: 8px;
}
