.card {
  width: 30%;
  height: 350px;
  background-color: rgb(236, 236, 236);

  padding: 0.4em;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.card-image {
  background-color: rgb(236, 236, 236);
  width: 100%;
  height: 60%;
  border-radius: 6px 6px 0 0;
  padding: 5px;
  transition: 0.2s ease-in;
}

.card-image:hover {
  transform: scale(0.98);
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category {
  text-transform: uppercase;
  font-size: 0.7rem;
  padding: 10px 7px 0;
  letter-spacing: 1px;
}

.categoryh2Gradient {
  background: linear-gradient(to right, #ebdb05 0%, #ff2020 20%);
  background-clip: text;
  color: transparent;
}

.heading {
  font-weight: 600;
  color: rgb(88, 87, 87);
  padding: 7px;
}

.author {
  font-weight: 400;
  font-size: 11px;
  padding-top: 20px;
}

.name {
  font-weight: 600;
}

.name:hover {
  cursor: pointer;
}

@media (max-width: 800px) {
  .card {
    width: 70%;
  }
}
